{{ router_ip }} router.lan router
{{ homelab_nuc_ip }} homelab-nuc.lan homelab-nuc
{{ nameserver_pi_ip }} pihole-pi.lan pihole-pi
{{ homelab_nuc_ip }} ollama-raw.lan
{% for service, props in services.items() %}
{{ homelab_nuc_ip }} {{ props.domain|default(service ~ ".lan") }}
{% endfor %}