{{ router_ip }} router.lan router
{{ homelab_ip }} homelab.lan homelab
{{ pihole_ip }} pihole-pi.lan pihole-pi
{% for service, props in domains.items() %}
{{ homelab_ip }} {{ props.domain|default(service ~ ".lan") }}
{% endfor %}