---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/docker/

# my-docker:
#   host: 127.0.0.1
#   port: 2375

homelab-nuc:
  host: dockerproxy
  port: {{ ports.homelab_nuc.docker_proxy | default(2375) }}

nameserver-pi:
  host: {{ nameserver_pi_ip }}
  port: {{ ports.nameserver_pi.docker_proxy | default(2375) }}

ailab:
  host: {{ ailab_ubuntu_ip }}
  port: {{ ports.ailab_ubuntu.docker_proxy | default(2375) }}
