---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey

layout:
  Networking:
  Media:
  Smart Home:
    icon: home-assistant.png
  Config:
  Monitoring:
  Network:
