---
- name: Copy udev rules
  ansible.builtin.template:
    src: 85-wolf-virtual-inputs.rules
    dest: /etc/udev/rules.d/85-wolf-virtual-inputs.rules
    mode: "0644"
  notify: Restart udev

- name: Start wolf
  community.docker.docker_compose_v2:
    project_name: wolf
    pull: always # Set to "always", "missing", "never", or "policy" based on your needs
    state: present # Ensure the services are started
    definition:
      volumes:
        nvidia-driver-vol:
          external: true
      services:
        wolf:
          image: ghcr.io/games-on-whales/wolf:stable
          security_opt:
            - apparmor:unconfined
          environment:
            WOLF_LOG_LEVEL: debug
            XDG_RUNTIME_DIR: /tmp/sockets
            NVIDIA_DRIVER_VOLUME_NAME: nvidia-driver-vol
            HOST_APPS_STATE_FOLDER: /etc/wolf
          volumes:
            - /etc/wolf/:/etc/wolf
            - /tmp/sockets:/tmp/sockets:rw
            - /var/run/docker.sock:/var/run/docker.sock:rw
            - /dev/:/dev/:rw
            - /run/udev:/run/udev:rw
            - nvidia-driver-vol:/usr/nvidia:rw
          devices:
            - /dev/dri
            - /dev/uinput
            - /dev/uhid
            - /dev/nvidia-uvm
            - /dev/nvidia-uvm-tools
            - /dev/nvidia-caps/nvidia-cap1
            - /dev/nvidia-caps/nvidia-cap2
            - /dev/nvidiactl
            - /dev/nvidia0
            - /dev/nvidia-modeset
          device_cgroup_rules:
            - c 13:* rmw
          network_mode: host
          restart: unless-stopped
