---
- name: Copy udev rules
  ansible.builtin.template:
    src: 85-wolf-virtual-inputs.rules
    dest: /etc/udev/rules.d/85-wolf-virtual-inputs.rules
    mode: "0644"
  notify: Restart udev

- name: Start wolf
  community.docker.docker_compose_v2:
    project_name: wolf
    pull: always # Set to "always", "missing", "never", or "policy" based on your needs
    state: present # Ensure the services are started
    definition:
      services:
        wolf:
          image: ghcr.io/games-on-whales/wolf:stable
          privileged: false
          security_opt:
            - apparmor:unconfined
          environment:
            WOLF_LOG_LEVEL: debug
            XDG_RUNTIME_DIR: /tmp/sockets
            HOST_APPS_STATE_FOLDER: /etc/wolf
            NVIDIA_DRIVER_CAPABILITIES: all
            NVIDIA_VISIBLE_DEVICES: "{{ blackwell_gpu_uuid }}"
            WOLF_RENDER_NODE: /dev/dri/renderD129
          volumes:
            - /etc/wolf/:/etc/wolf
            - /tmp/sockets:/tmp/sockets:rw
            - /var/run/docker.sock:/var/run/docker.sock:rw
            - /run/udev:/run/udev:rw
          devices:
            - /dev/nvidia1:/dev/nvidia1
            - /dev/nvidiactl:/dev/nvidiactl
            - /dev/nvidia-modeset:/dev/nvidia-modeset
            - /dev/nvidia-uvm:/dev/nvidia-uvm
            - /dev/nvidia-uvm-tools:/dev/nvidia-uvm-tools
            - /dev/dri/card2:/dev/dri/card2
            - /dev/dri/renderD129:/dev/dri/renderD129
            - /dev/uinput
            - /dev/uhid
          device_cgroup_rules:
            - c 13:* rmw
            - c 226:* rmw
          deploy:
            resources:
              reservations:
                devices:
                  - driver: nvidia
                    device_ids: ["{{ blackwell_gpu_uuid }}"]
                    capabilities: [gpu]
          network_mode: host
          restart: unless-stopped
