services:
  wyoming_openai:
    container_name: "{{ wyoming_openai_container_name }}"
    image: "{{ wyoming_openai_image }}"
    pull_policy: {{ wyoming_openai_pull_policy }}
    restart: unless-stopped
    ports:
      - "{{ wyoming_openai_external_port }}:{{ wyoming_openai_internal_port }}"
    environment:
      WYOMING_URI: "{{ wyoming_uri }}"
      WYOMING_LOG_LEVEL: "{{ wyoming_log_level }}"
      WYOMING_LANGUAGES: "{{ wyoming_languages }}"
      STT_OPENAI_URL: "{{ stt_openai_url }}"
      STT_MODELS: "{{ stt_model }}"
      STT_BACKEND: "{{ stt_backend }}"
      TTS_OPENAI_URL: "{{ tts_openai_url }}"
      TTS_MODELS: "{{ tts_models }}"
      TTS_BACKEND: "{{ tts_backend }}"
      TTS_VOICES: "{{ tts_voices }}"
      TTS_SPEED: "{{ tts_speed }}"
{% if tts_extra_body | string | length > 0 %}
      TTS_EXTRA_BODY: '{{ tts_extra_body }}'
{% endif %}
      # Enable streaming for your models
      # STT_STREAMING_MODELS: "{{ stt_streaming_models }}"
      TTS_STREAMING_MODELS: "{{ tts_streaming_models }}"
      TTS_STREAMING_MIN_WORDS: "{{ tts_streaming_min_words }}"
      TTS_STREAMING_MAX_CHARS: "{{ tts_streaming_max_chars }}"
      INVALIDATE: "6"  # increment to force redeploy
