- name: Ensure ComfyUI storage directory exists
  ansible.builtin.file:
    path: "{{ comfyui_storage_path }}"
    state: directory
    mode: "0755"
    owner: "{{ uid }}"
    group: "{{ gid }}"
    recurse: yes
  become: true

- name: Ensure ComfyUI container is running
  community.docker.docker_container:
    name: "{{ comfyui_container_name }}"
    image: "{{ comfyui_image }}"
    image_name_mismatch: recreate
    pull: true
    state: started
    # user: "{{ comfyui_user }}"
    restart_policy: unless-stopped
    device_requests:
      - driver: nvidia
        count: -1
        capabilities:
          - ["gpu"]
    ports:
      - "{{ comfyui_port }}:8188"
    volumes:
      - "{{ comfyui_storage_path }}:/root"
    env:
      CLI_ARGS: "{{ comfyui_cli_args }}"
      HOME: "/root"
      CUDA_LAUNCH_BLOCKING: "1"
    labels:
      wud.tag.include: "^v\\d+\\.\\d+\\.\\d+$$"
      homepage.group: "{{ services.comfyui.group }}"
      homepage.name: "{{ services.comfyui.name }}"
      homepage.href: "https://comfyui.lan"
      homepage.icon: "{{ services.comfyui.icon }}"
      homepage.server: "{{ inventory_hostname }}"
      homepage.container: "{{ comfyui_container_name }}"
    security_opts:
      - "label=type:nvidia_container_t"

  become: true
