---
- name: Deploy PruneMate
  community.docker.docker_compose_v2:
    project_name: prunemate
    definition:
      services:
        prunemate:
          image: anoniemerd/prunemate:latest
          container_name: prunemate
          ports:
            - "{{ ports.homelab_nuc.prunemate }}:8080"
          volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - "{{ prunemate_config_path }}:/config"
          environment:
            - PRUNEMATE_TZ={{ system_timezone | default('UTC') }}
            - PRUNEMATE_TIME_24H=true
          labels:
            homepage.group: "{{ services.prunemate.group }}"
            homepage.name: "{{ services.prunemate.name }}"
            homepage.href: "https://prunemate.lan"
            homepage.icon: "{{ services.prunemate.icon }}"
            homepage.server: "{{ inventory_hostname }}"
            homepage.container: prunemate
          restart: unless-stopped
