---
wyoming_openai_image: ghcr.io/roryeckel/wyoming_openai:latest
speaches_image: ghcr.io/speaches-ai/speaches:latest-cuda
chatterbox_tts_image: travisvn/chatterbox-tts-api:latest

wyoming_openai_container_name: wyoming-openai
speaches_container_name: speaches
chatterbox_container_name: chatterbox-tts

wyoming_openai_port: "{{ wyoming_openai_port }}"
speaches_port: "{{ speaches_port }}"
chatterbox_tts_port: 4123

huggingface_cache_folder: "{{ config_root }}/wyoming-openai/huggingface-cache"
chatterbox_models_folder: "{{ config_root }}/wyoming-openai/chatterbox-models"

wyoming_uri: "tcp://0.0.0.0:{{ wyoming_openai_port }}"
wyoming_log_level: INFO
wyoming_languages: en,es,fr,de,it,pt,ru,ja,ko,ar,da,el,fi,he,hi,ms,nl,no,pl,sv,sw,tr

stt_model: "Systran/faster-distil-whisper-large-v3"
tts_model: "tts-1-hd"
tts_backend: "OPENAI"

# Streaming Configuration for your models
stt_streaming_models: "{{ stt_model }}"
tts_streaming_models: "{{ tts_model }}"
tts_streaming_min_words: 3
tts_streaming_max_chars: 280

device_requests:
  - driver: nvidia
    count: -1
    capabilities:
      - ["gpu"]