{% set ollama_models_map = [
  { "alias": "Qwen3-8B-GGUF:Q4_K_XL", "ollama_id": "hf.co/unsloth/Qwen3-8B-GGUF:Q4_K_XL" },
  { "alias": "Qwen3-8B-GGUF:Q6_K_XL", "ollama_id": "hf.co/unsloth/Qwen3-8B-GGUF:Q6_K_XL" },
  { "alias": "Qwen3-14B-GGUF:Q6_K_XL", "ollama_id": "hf.co/unsloth/Qwen3-14B-GGUF:Q6_K_XL" }
] -%}
model_list:
  {% for model_info in ollama_models_map -%}
  - model_name: "{{ model_info.alias }}"
    litellm_params:
      model: "openai/{{ model_info.ollama_id }}"
      api_base: "http://ailab.lan:{{ mcp_bridge_service_port }}/v1" # Points to MCP bridge
      api_key: none
  {% endfor %}

litellm_settings:
  success_callback: ["langfuse"]

general_settings:
  master_key: "{{ litellm_master_key }}"
