---
locales:
  - en_US.UTF-8
  - de_DE.UTF-8
locale: en_US.UTF-8
system_timezone: "Europe/Berlin"
pip_package: python3-pip
pip_install_packages:
  - name: pyyaml==6.0.1
  - name: docker==6.1.3
ip_prefix: 192.168.50.
router_ip: 192.168.50.1
nameserver_pi_ip: "{{ hostvars['nameserver-pi'].ansible_host }}"
# virtualhere_pi_ip: "{{ hostvars['virtualhere-pi'].ansible_host }}"
homelab_nuc_ip: "{{ hostvars['homelab-nuc'].ansible_host }}"
ailab_ip: "{{ hostvars['ailab'].ansible_host }}"
ailab_mac_address: 50:eb:f6:82:3c:38 # MAC address for Wake-on-LAN
ailab_ubuntu_ip: 192.168.50.10
ailab_proxmox_ip: "{{ hostvars['ailab-proxmox'].ansible_host }}"
micpi_ip: "{{ hostvars['micpi'].ansible_host }}"
cidr: 192.168.50.0/24
pihole_http_port: 81
portainer_http_port: 9002
glances_http_port: 61208
homeassistant_http_port: 8123
homepage_http_port: 3002
music_assistant_http_port: 8095
uptime_kuma_http_port: 3001
wud_http_port: 3000
vscode_http_port: 8443
nodered_http_port: 1880
mosquitto_address: "{{ ansible_default_ipv4.address }}"
mosquitto_port: 1883
mosquitto_websockets_port: 9001
z2m_http_port: 8080
frigate_http_port: 5000
jellyfin_http_port: 8096
navidrome_http_port: 4533
syncthing_http_port: 8384
ring_mqtt_rtsp_port: 8556
open_webui_http_port: 3123
comfyui_port: 8188
ollama_port: 11434 # Default Ollama API port
babybuddy_http_port: 8008
wallabag_http_port: 8010
readeck_http_port: 8011
linkding_http_port: 8012
n8n_http_port: 5678
teddycloud_http_port: 8013
teddycloud_box_port: 4443
sunshine_address: 192.168.50.33
sunshine_http_port: 47990
uid: 1000 # TODO move to host_vars
username_personal: daniel
uid_personal: 1001
mount_root: mnt
shares:
  - Medien
  - dreifuenf
config_root: /home/{{ username }}/config
base_src_path: /opt/src # Base path for cloning source repos
ollama_host: ailab-ubuntu.lan
litellm_proxy_port: 4000
langfuse_port: 3003
homeassistant_config_folder: "{{ config_root }}/home-assistant"
homeassistant_media_folder: /{{ mount_root }}/Medien/Musik
music_assistant_data_folder: "{{ config_root }}/music-assistant"
music_assistant_media_folder: /{{ mount_root }}/Medien/Musik
frigate_config_folder: "{{ config_root }}/frigate"
frigate_media_folder: /{{ mount_root }}/Medien/Frigate
vscode_config_folder: "{{ config_root }}/vscode"
nodered_config_folder: "{{ config_root }}/node-red"
mosquitto_config_folder: "{{ config_root }}/mosquitto/config"
mosquitto_data_folder: "{{ config_root }}/mosquitto/data"
matter_server_data_folder: "{{ config_root }}/matter/data"
zigbee2mqtt_data_folder: "{{ config_root }}/z2m"
pihole_config_folder: "{{ config_root }}/pihole"
dnsmasq_config_folder: "{{ config_root }}/dnsmasq"
caddy_folder: "{{ config_root }}/caddy"
caddy_data_folder: "{{ config_root }}/caddy/data"
caddy_config_folder: "{{ config_root }}/caddy/config"
uptime_kuma_data_folder: "{{ config_root }}/uptime-kuma/data"
jellyfin_config_folder: "{{ config_root }}/jellyfin"
jellyfin_movie_folder: /{{ mount_root }}/Medien/Filme
jellyfin_shows_folder: /{{ mount_root }}/Medien/Shows
jellyfin_music_folder: /{{ mount_root }}/Medien/Musik
navidrome_data_folder: "{{ config_root }}/navidrome"
nextcloud_data_folder: "{{ config_root }}/nextcloud"
syncthing_config_folder: "{{ config_root }}/syncthing/config"
syncthing_data_folder: "{{ config_root }}/syncthing/data"
openwakeword_data_folder: "{{ config_root }}/openwakeword"
satellite_data_folder: "{{ config_root }}/satellite"
piper_data_folder: "{{ config_root }}/piper"
whisper_data_folder: "{{ config_root }}/whisper"
babybuddy_config_folder: "{{ config_root }}/babybuddy"
wallabag_config_folder: "{{ config_root }}/wallabag"
wallabag_images_folder: "{{ wallabag_config_folder }}/images"
wallabag_db_data_folder: "{{ wallabag_config_folder }}/data"
wallabag_domain_name: wallabag.lan
readeck_data_folder: "{{ config_root }}/readeck"
readeck_domain_name: readeck.lan
linkding_data_folder: "{{ config_root }}/linkding"
linkding_domain_name: linkding.lan
n8n_config_folder: "{{ config_root }}/n8n"
teddycloud_config_folder: "{{ config_root }}/teddycloud"
timemachine_max_size: 1000G
google_workspace_mcp_port_host: 8014
