model_group_alias:
  home: "GPT-OSS-20B-F16"
  home-fast: "GPT-OSS-20B-F16-low"
  home-smart: "GPT-OSS-20B-F16-high"
  home-vision: "Qwen3-VL-8B-Instruct"
  home-tiny: "Qwen3-4B-Instruct-2507"
litellm_fallbacks:
  - home: ["home-tiny"]
  - home-fast: ["home-tiny"]
  - home-smart: ["home-tiny"]
llamaswap_models:
  - alias: Qwen3-VL-8B-Instruct
    cmd: >-
      /app/llama-server
      -hf unsloth/Qwen3-VL-8B-Instruct-GGUF:Q8_K_XL
      --port ${PORT}
      --ctx-size 131072
      --flash-attn auto
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --top-p 0.8
      --top-k 20
      --temp 0.7
      --min-p 0.0
      --presence-penalty 1.5
      --jinja
    supports_function_calling: true
    supports_vision: true
    supports_reasoning: false
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"
  - alias: Qwen3-VL-32B-Instruct
    cmd: >-
      /app/llama-server
      -hf unsloth/Qwen3-VL-32B-Instruct-GGUF:Q6_K_XL
      --port ${PORT}
      --ctx-size 32768
      --flash-attn auto
      --n-gpu-layers 99
      --tensor-split 36,16
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --top-p 0.8
      --top-k 20
      --temp 0.7
      --min-p 0.0
      --presence-penalty 1.5
      --jinja
    supports_function_calling: true
    supports_vision: true
    supports_reasoning: false
    group: "big_boys"
  - alias: Qwen3-VL-30B-A3B-Instruct
    cmd: >-
      /app/llama-server
      -hf unsloth/Qwen3-VL-30B-A3B-Instruct-GGUF:Q4_K_XL
      --port ${PORT}
      --ctx-size 65536
      --n-predict 32768
      --flash-attn auto
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --batch-size 512
      --ubatch-size 512
      --n-cpu-moe 0
      --top-p 0.8
      --top-k 20
      --temp 0.7
      --min-p 0.0
      --presence-penalty 1.5
      --jinja
    supports_function_calling: true
    supports_vision: true
    supports_reasoning: false
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"
  - alias: Qwen3-VL-30B-A3B-Thinking
    cmd: >-
      /app/llama-server
      -hf unsloth/Qwen3-VL-30B-A3B-Thinking-GGUF:Q4_K_XL
      --port ${PORT}
      --ctx-size 65536
      --n-predict 40960
      --flash-attn auto
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --n-cpu-moe 0
      --top-p 0.95
      --top-k 20
      --temp 1.0
      --min-p 0.0
      --presence-penalty 0.0
      --jinja
    supports_function_calling: true
    supports_vision: true
    supports_reasoning: true
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"
  - alias: Qwen3-Coder-30B-A3B-Instruct
    cmd: >-
      /app/llama-server
      -hf unsloth/Qwen3-Coder-30B-A3B-Instruct-GGUF:Q4_K_XL
      --port ${PORT}
      --ctx-size 98304
      --n-predict 32768
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --n-cpu-moe 0
      --threads -1
      --temp 0.7
      --min-p 0.0
      --top-p 0.80
      --top-k 20
      --repeat-penalty 1.05
      --jinja
    supports_function_calling: true
    supports_vision: false
    supports_reasoning: false
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"
  - alias: Qwen3-30B-A3B-Instruct-2507
    cmd: >-
      /app/llama-server
      -hf unsloth/Qwen3-30B-A3B-Instruct-2507-GGUF:Q4_K_XL
      --port ${PORT}
      --ctx-size 96608
      --n-predict 32768
      --flash-attn auto
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --batch-size 512
      --ubatch-size 512
      --n-cpu-moe 0
      --temp 0.7
      --min-p 0.0
      --top-p 0.8
      --top-k 20
      --presence-penalty 1.0
      --jinja
    supports_function_calling: true
    supports_vision: false
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"

  - alias: Nemotron-3-Nano-30B-A3B
    cmd: >-
      /app/llama-server
      -hf unsloth/Nemotron-3-Nano-30B-A3B-GGUF:Q4_K_XL
      --port ${PORT}
      --ctx-size 98304
      --flash-attn auto
      --n-gpu-layers 99
      --threads -1
      --prio 3
      --min-p 0.01
      --temp 0.6
      --top-p 0.95
      --jinja
    supports_function_calling: true
    supports_vision: false
    supports_reasoning: true
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"

  - alias: Apriel-1.6-15b-Thinker
    cmd: >-
      /app/llama-server
      -hf bartowski/ServiceNow-AI_Apriel-1.6-15b-Thinker-GGUF:Q6_K
      --port ${PORT}
      --ctx-size 65536
      --n-predict 32768
      --flash-attn auto
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --jinja
    supports_function_calling: true
    supports_vision: true
    supports_reasoning: true
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"

  - alias: Devstral-Small-2-24B-Instruct
    cmd: >-
      /app/llama-server
      -hf unsloth/Devstral-Small-2-24B-Instruct-2512-GGUF:Q5_K_XL
      --port ${PORT}
      --ctx-size 65536
      --flash-attn auto
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --temp 0.15
      --min-p 0.01
      --jinja
    supports_function_calling: true
    supports_vision: true
    supports_reasoning: false
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"

  - alias: GLM-4.6V-Flash
    cmd: >-
      /app/llama-server
      -hf unsloth/GLM-4.6V-Flash-GGUF:Q8_K_XL
      --port ${PORT}
      --ctx-size 65536
      --flash-attn auto
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --top-p 0.6
      --top-k 2
      --temp 0.8
      --repeat-penalty 1.1
      --n-predict 16384
      --jinja
    supports_function_calling: true
    supports_vision: true
    supports_reasoning: true
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"
    variants:
      think:
        chat_template_kwargs:
          enable_thinking: true
      nothink:
        chat_template_kwargs:
          enable_thinking: false

  - alias: Qwen3-Next-80B-A3B-Instruct
    cmd: >-
      /app/llama-server
      -hf unsloth/Qwen3-Next-80B-A3B-Instruct-GGUF:Q4_K_XL
      --port ${PORT}
      --ctx-size 32768
      --flash-attn auto
      --n-gpu-layers 99
      --tensor-split 36,16
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --temp 0.7
      --top-p 0.8
      --top-k 20
      --min-p 0.0
      --presence-penalty 1.0
      --n-predict 16384
      --n-cpu-moe 1
      --jinja
    supports_function_calling: true
    supports_vision: false
    supports_reasoning: false
    group: "big_boys"

  - alias: Seed-OSS-36B-Instruct
    cmd: >-
      /app/llama-server
      -hf unsloth/Seed-OSS-36B-Instruct-GGUF:Q6_K
      --port ${PORT}
      --ctx-size 65536
      --flash-attn auto
      --n-gpu-layers 99
      --tensor-split 44,20
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --temp 1.1
      --top-p 0.95
      --n-predict 16384
      --jinja
    supports_function_calling: true
    supports_vision: false
    supports_reasoning: true
    group: "big_boys"
    variants:
      high:
        chat_template_kwargs:
          thinking_budget: 2048
      medium:
        chat_template_kwargs:
          thinking_budget: 1024
      low:
        chat_template_kwargs:
          thinking_budget: 512
      nothink:
        chat_template_kwargs:
          thinking_budget: 0

  - alias: gpt-oss-120b
    cmd: >-
      /app/llama-server
      -hf unsloth/gpt-oss-120b-GGUF:F16
      --port ${PORT}
      --threads 12
      --threads-batch 12
      --ctx-size 16384
      --flash-attn on
      --n-gpu-layers 99
      --cache-type-k q4_0
      --cache-type-v q4_0
      --temp 1.0
      --min-p 0.0
      --top-p 1.0
      --top-k 0.0
      -ot ".*attn_.*=CUDA0"
      -ot ".*ffn_(norm|gate_inp).*=CUDA0"
      -ot "blk\\.([0-9]|1[0-9]|2[0-4])\\.ffn_.*_exps.*=CPU"
      -ot "blk\\.(2[5-9]|3[0-5])\\.ffn_.*_exps.*=CUDA0"
      --jinja
    supports_function_calling: true
    supports_vision: false
    supports_reasoning: true
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"
    variants:
      high:
        chat_template_kwargs:
          reasoning_effort: "high"
      low:
        chat_template_kwargs:
          reasoning_effort: "low"

  - alias: gpt-oss-120b-hybrid
    cmd: >-
      /app/llama-server
      -hf unsloth/gpt-oss-120b-GGUF:F16
      --port ${PORT}
      --threads 12
      --threads-batch 12
      --ctx-size 16384
      --flash-attn on
      --n-gpu-layers 99
      --cache-type-k q4_0
      --cache-type-v q4_0
      --temp 1.0
      --min-p 0.0
      --top-p 1.0
      --top-k 0.0
      -ot ".*attn_.*=CUDA0"
      -ot ".*ffn_(norm|gate_inp).*=CUDA0"
      -ot "blk\\.([0-4])\\.ffn_.*_exps.*=CUDA1"
      -ot "blk\\.([5-9]|1[0-9]|2[0-4])\\.ffn_.*_exps.*=CPU"
      -ot "blk\\.(2[5-9]|3[0-5])\\.ffn_.*_exps.*=CUDA0"
      --jinja
    supports_function_calling: true
    supports_vision: false
    supports_reasoning: true
    group: "big_boys"
    variants:
      high:
        chat_template_kwargs:
          reasoning_effort: "high"
      low:
        chat_template_kwargs:
          reasoning_effort: "low"

  - alias: GPT-OSS-20B-F16
    cmd: >-
      /app/llama-server
      -hf unsloth/gpt-oss-20b-GGUF:F16
      --port ${PORT}
      --ctx-size 131072
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --temp 1.0
      --top-p 1.0
      --top-k 0
      --jinja
    supports_function_calling: true
    supports_vision: false
    group: "3090"
    env:
      - "CUDA_VISIBLE_DEVICES={{ampere_gpu_uuid}}"
    variants:
      high:
        chat_template_kwargs:
          reasoning_effort: "high"
      low:
        chat_template_kwargs:
          reasoning_effort: "low"

  - alias: GPT-OSS-20B-F16-blackwell
    cmd: >-
      /app/llama-server
      -hf unsloth/gpt-oss-20b-GGUF:F16
      --port ${PORT}
      --ctx-size 131072
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --threads -1
      --temp 1.0
      --top-p 1.0
      --top-k 0
      --jinja
    supports_function_calling: true
    supports_vision: false
    group: "5060ti"
    env:
      - "CUDA_VISIBLE_DEVICES={{blackwell_gpu_uuid}}"
    variants:
      high:
        chat_template_kwargs:
          reasoning_effort: "high"
      low:
        chat_template_kwargs:
          reasoning_effort: "low"

  - alias: Qwen3-4B-Instruct-2507
    cmd: >-
      /app/llama-server
      -hf unsloth/Qwen3-4B-Instruct-2507-GGUF:Q8_K_XL
      --port ${PORT}
      --ctx-size 32768
      --flash-attn auto
      --n-gpu-layers 99
      --cache-type-k q8_0
      --cache-type-v q8_0
      --temp 0.7
      --min-p 0.0
      --top-p 0.8
      --top-k 20
      --presence-penalty 1.0
      --jinja
    env:
      - "CUDA_VISIBLE_DEVICES={{blackwell_gpu_uuid}}"
    supports_function_calling: true
    supports_vision: false
    supports_reasoning: false
    group: "5060ti"

llamaswap_model_groups:
  forever:
    persistent: true
    swap: false
    exclusive: false
  "3090":
    swap: true
    exclusive: false
  "5060ti":
    swap: true
    exclusive: false
  big_boys:
    swap: true
    exclusive: true

llamaswap_preload:
  - "{{ model_group_alias.home_tiny }}"
  - "{{ model_group_alias.home_fast }}"
