---
services:
  homepage:
    target: homelab-nuc.lan
    http_port: "{{ homepage_http_port }}"
    group: Smart Home
  homeassistant:
    name: Home Assistant
    http_port: "{{ homeassistant_http_port }}"
    target: homelab-nuc.lan
    group: Smart Home
  musicassistant:
    name: Music Assistant
    http_port: "{{ music_assistant_http_port }}"
    target: homelab-nuc.lan
    group: Media
  uptime:
    name: Uptime Kuma
    group: Monitoring
    target: homelab-nuc.lan
    http_port: "{{ uptime_kuma_http_port }}"
  wud:
    name: What's up Docker?
    target: homelab-nuc.lan
    http_port: "{{ wud_http_port }}"
    group: Monitoring
  wallabag:
    name: Wallabag
    target: homelab-nuc.lan
    http_port: "{{ wallabag_http_port }}"
    domain: "{{ wallabag_domain_name }}"
    group: Productivity
    icon: wallabag
  readeck:
    name: Readeck
    target: homelab-nuc.lan
    http_port: "{{ readeck_http_port }}"
    domain: "{{ readeck_domain_name }}"
    group: Productivity
    icon: readeck
  linkding:
    name: Linkding
    target: homelab-nuc.lan
    http_port: "{{ linkding_http_port }}"
    domain: "{{ linkding_domain_name }}"
    group: Productivity
    icon: linkding
  n8n:
    name: n8n
    target: homelab-nuc.lan
    http_port: "{{ n8n_http_port }}"
    domain: n8n.kirelabs.org
    group: Productivity
    icon: n8n.svg
  teddycloud:
    name: TeddyCloud
    target: homelab-nuc.lan
    http_port: "{{ teddycloud_http_port }}"
    domain: teddycloud.lan
    group: Family
  babybuddy:
    name: Baby Buddy
    target: homelab-nuc.lan
    http_port: "{{ babybuddy_http_port }}"
    domain: bb.lan
    group: Family
  portainer-homelab-nuc:
    name: Portainer Homelab
    target: homelab-nuc.lan
    http_port: "{{ portainer_http_port }}"
    group: Monitoring
  glances-homelab-nuc:
    name: Glances Homelab
    target: homelab-nuc.lan
    http_port: "{{ glances_http_port }}"
    group: Monitoring
  glances-micpi:
    name: Glances Mic Pi
    target: micpi.lan # Assuming micpi.lan is the target hostname
    http_port: "{{ glances_http_port }}"
    group: Monitoring
  nodered:
    target: homelab-nuc.lan
    http_port: "{{ nodered_http_port }}"
    group: Smart Home
  vscode:
    name: Visual Studio Code
    target: homelab-nuc.lan
    http_port: "{{ vscode_http_port }}"
    group: Config
  z2m:
    name: Zigbee2MQTT
    target: homelab-nuc.lan
    http_port: "{{ z2m_http_port }}"
    group: Smart Home
  frigate:
    name: Frigate
    target: homelab-nuc.lan
    http_port: "{{ frigate_http_port }}"
    group: Smart Home
  jellyfin:
    target: homelab-nuc.lan
    http_port: "{{ jellyfin_http_port }}"
    group: Media
  music:
    target: homelab-nuc.lan
    http_port: "{{ navidrome_http_port }}"
    group: Media
  syncthing-homelab:
    name: Syncthing Homelab
    target: homelab-nuc.lan
    http_port: "{{ syncthing_http_port }}"
    group: NAS
  open-webui:
    name: Open WebUI
    target: homelab-nuc.lan
    http_port: "{{ open_webui_http_port }}"
    group: AI
  langfuse:
    name: Langfuse
    target: homelab-nuc.lan
    http_port: "{{ langfuse_port }}"
    group: AI
    icon: langfuse.png
  pihole-homelab-nuc:
    name: Pihole Homelab
    target: homelab-nuc.lan
    http_port: "{{ pihole_http_port }}"
    domain: pihole-homelab.lan
    group: Network
  dnsmasq-leases-ui-homelab-nuc:
    name: DHCP Leases Homelab
    group: Network
    domain: leases-homelab.lan
    target: homelab-nuc.lan
    http_port: 5005
  # nameserver
  pihole-nameserver-pi:
    name: Pihole Nameserver
    target: pihole-pi.lan
    http_port: "{{ pihole_http_port }}"
    domain: pihole-nameserver.lan
    group: Network
  dnsmasq-leases-ui-nameserver-pi:
    name: DHCP Leases Nameserver
    group: Network
    domain: leases-nameserver.lan
    target: pihole-pi.lan
    http_port: 5005
  portainer-nameserver-pi:
    name: Portainer Nameserver
    target: pihole-pi.lan
    http_port: "{{ portainer_http_port }}"
    group: Monitoring
  glances-nameserver-pi:
    name: Glances Nameserver
    target: pihole-pi.lan
    http_port: "{{ glances_http_port }}"
    group: Monitoring
  # ailab
  proxmox:
    name: Proxmox VE
    http_port: 8006
    target: ailab-proxmox.lan
    group: Network
    icon: proxmox
    nodocker: true
    tls_skip: false
  ollama-ailab:
    name: Ollama AI Lab
    proxy_port: "{{ ollama_port }}"
    target: ailab-ubuntu.lan
    http_port: "{{ ollama_port }}"
    wol: "{{ ailab_mac_address }}"
    tls_skip: true
    try: 360s
  comfyui:
    name: ComfyUI
    target: ailab-ubuntu.lan
    http_port: "{{ comfyui_port }}"
    group: AI
    icon: comfy-ui
    wol: "{{ ailab_mac_address }}"
    try: 360s
  portainer-ailab:
    name: Portainer AI Lab
    target: ailab-ubuntu.lan
    http_port: "{{ portainer_http_port }}"
    group: Monitoring
    icon: portainer.png
  glances-ailab:
    name: Glances AI Lab
    target: ailab-ubuntu.lan
    http_port: "{{ glances_http_port }}"
    group: Monitoring
    icon: glances.png
  syncthing-ailab:
    name: Syncthing AI Lab
    target: ailab-ubuntu.lan
    http_port: "{{ syncthing_http_port }}"
    nodocker: true
    group: NAS
    icon: syncthing.png
  google-workspace-mcp:
    name: Google Workspace MCP
    target: homelab-nuc.lan
    http_port: "{{ google_workspace_mcp_port_host }}"
    domain: google-workspace-mcp.net
    group: AI
    icon: google.png
