---
# handlers file for llm_inference

- name: Restart llama-swap
  community.docker.docker_container:
    name: "{{ llamaswap_container_name }}"
    state: started
    restart: true
  become: true

- name: Restart Ollama container
  community.docker.docker_container:
    name: "{{ ollama_container_name }}"
    state: started
    restart: true
  become: true
