---
# tasks file for llm_observability

- name: Phoenix Setup
  become: true
  block:
    - name: Define Phoenix related facts
      ansible.builtin.set_fact:
        phoenix_config_dir_host: "{{ llm_base_config_path }}/phoenix"
        phoenix_compose_file_dest: "{{ llm_base_config_path }}/phoenix/docker-compose.yml"

    - name: Ensure Phoenix config directory exists on host
      ansible.builtin.file:
        path: "{{ phoenix_config_dir_host }}"
        state: directory
        mode: "0755"

    - name: Ensure Phoenix data directory exists on host
      ansible.builtin.file:
        path: "{{ phoenix_data_folder }}"
        state: directory
        mode: "0755"
        owner: "{{ uid }}"
        group: "{{ uid }}"

    - name: Template Phoenix docker-compose.yml
      ansible.builtin.template:
        src: phoenix-docker-compose.yml.j2
        dest: "{{ phoenix_compose_file_dest }}"
        mode: "0644"

    - name: Start Phoenix services with Docker Compose
      community.docker.docker_compose_v2:
        project_src: "{{ phoenix_config_dir_host }}" # Directory containing the docker-compose.yml
        state: present # Ensures services are running, creates them if not present
        pull: always # Optionally pull images
      register: phoenix_compose_result

    - name: Debug Phoenix compose result
      ansible.builtin.debug:
        var: phoenix_compose_result
      when: phoenix_compose_result is defined and phoenix_compose_result.changed
