---
- name: Set glances service fact
  ansible.builtin.set_fact:
    glances_service: "{{ services['glances-'~inventory_hostname] }}"

- name: Create Glances config directory
  ansible.builtin.file:
    path: "{{ config_root }}/glances"
    state: directory
    owner: "{{ username | default(username_personal) }}"
    group: "{{ username | default(username_personal) }}"
    mode: '0755'
  become: true

- name: Deploy Glances configuration
  ansible.builtin.template:
    src: glances.conf.j2
    dest: "{{ config_root }}/glances/glances.conf"
    owner: "{{ username | default(username_personal) }}"
    group: "{{ username | default(username_personal) }}"
    mode: '0644'
  become: true
  notify: Restart glances

- name: Start glances
  community.docker.docker_compose_v2:
    project_name: glances
    pull: always
    state: present
    definition:
      services:
        glances: "{{ _glances_definition }}"
  vars:
    _glances_base_definition:
      image: nicolargo/glances:ubuntu-latest-full
      container_name: glances
      privileged: true
      restart: always
      ports:
        - "{{ ports[inventory_hostname | replace('-', '_')].glances }}:61208"
        - "{{ ports[inventory_hostname | replace('-', '_')].glances_query }}:61209"
      environment:
        GLANCES_OPT: "-w -C /glances/conf/glances.conf"
        TZ: "Europe/Berlin"
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
        - /etc/os-release:/etc/os-release:ro
        - "{{ config_root }}/glances/glances.conf:/glances/conf/glances.conf:ro"
        - /:/mnt/host:ro
      pid: host
      labels:
        homepage.group: "{{ glances_service.group }}"
        homepage.name: "{{ glances_service.name }}"
        homepage.href: "https://glances-{{ inventory_hostname }}.lan"
        homepage.icon: glances.png
        homepage.server: "{{ inventory_hostname }}"
        homepage.container: glances
    _glances_nvidia_definition:
      environment:
        NVIDIA_VISIBLE_DEVICES: "all"
        GLANCES_OPT: "-w -C /glances/conf/glances.conf --meangpu"
      deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                capabilities: [gpu]
                count: all
    _glances_definition: "{{ _glances_base_definition | combine(_glances_nvidia_definition if glances_nvidia_support | default(false) else {}, recursive=True) }}"
