TS_AUTHKEY={{ hermes_docker_tailscale_authkey }}{{ hermes_docker_tailscale_authkey_suffix }}
TS_EXTRA_ARGS=--advertise-tags=tag:{{ hermes_docker_tailscale_tag_prefix }}-{{ agent_name }} {{ hermes_docker_tailscale_extra_args }}
TS_STATE_DIR={{ hermes_docker_tailscale_state_dir }}
