{
        email danishkirel@gmail.com
}


danishkirel.asuscomm.com {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ homeassistant_http_port }}
        log
}

homeassistant.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ homeassistant_http_port }}
        tls internal
        log
}

uptime.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ uptime_kuma_http_port }}
        tls internal
        log
}

wud.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ wud_http_port }}
        tls internal
        log
}

portainer.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ portainer_http_port }}
        tls internal
        log
}

nodered.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ nodered_http_port }}
        tls internal
        log
}

vscode.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ vscode_http_port }}
        tls internal
        log
}

z2m.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ z2m_http_port }}
        tls internal
        log
}

frigate.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ frigate_http_port }}
        tls internal
        log
}

jellyfin.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ jellyfin_http_port }}
        tls internal
        log
}

music.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ navidrome_http_port }}
        tls internal
        log
}

sunshine.lan {
        reverse_proxy {{ sunshine_address }}:{{ sunshine_http_port }}
        tls internal
        log
}

pi.hole {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ pihole_http_port }}
        tls internal
        log
}

octopi.local {
        reverse_proxy {{ octopi_address }}:{{ octopi_http_port }}
        tls internal
        log
}