danishkirel.asuscomm.com {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ homeassistant_http_port }}
        log
}

http://homeassistant.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ homeassistant_http_port }}
        log
}

http://portainer.lan {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ portainer_http_port }}
        log
}

http://pi.hole {
        reverse_proxy {{ ansible_default_ipv4.address }}:{{ pihole_http_port }}
        log
}