---
- name: Restart MCP-Proxy service
  community.docker.docker_compose_v2:
    project_name: litellm
    services:
      - mcp-proxy
    state: present
  become: true

- name: Restart LiteLLM Proxy service
  community.docker.docker_compose_v2:
    project_name: litellm
    services:
      - litellm-proxy
    state: present
  become: true

