---
- name: Restart MCP-Proxy container
  community.docker.docker_container:
    name: "{{ mcp_proxy_container_name }}"
    state: started
    restart: true
  become: true

- name: Restart LiteLLM Proxy container
  community.docker.docker_container:
    name: "{{ litellm_proxy_container_name }}"
    state: started
    restart: true
  become: true
