---
- ansible.builtin.set_fact:
    portainer_service: "{{ services['portainer-'~inventory_hostname] }}"

- name: Create volume
  community.docker.docker_volume:
    name: portainer_data

- name: Start portainer
  community.docker.docker_container:
    container_default_behavior: no_defaults
    name: portainer
    image: portainer/portainer-ce
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - "{{ ports[inventory_hostname | replace('-', '_')].portainer_edge }}:8000"
      - "{{ ports[inventory_hostname | replace('-', '_')].portainer }}:9000"
    restart_policy: always
    pull: true
    labels:
      homepage.group: "{{ portainer_service.group }}"
      homepage.name: "{{ portainer_service.name }}"
      homepage.href: https://portainer-{{ inventory_hostname }}.lan
      homepage.icon: portainer.png
      homepage.server: "{{ inventory_hostname }}"
      homepage.container: portainer
