[Unit]
Description=Run docker-prune daily

[Timer]
# Run at 3:00 AM every day
OnCalendar=*-*-* 03:00:00
# Add randomization to avoid concurrent resource usage
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target