{
  "mcpServers": {
    "fetch": {
      "command": "uvx",
      "args": [
        "mcp-server-fetch"
      ]
    },
    "home-assistant": {
      "command": "uvx",
      "args": [
        "mcp-proxy"
      ],
      "env": {
        "SSE_URL": "http://{{ homelab_nuc_ip }}:{{ ports.homelab_nuc.homeassistant }}/mcp_server/sse",
        "API_ACCESS_TOKEN": "{{ ha_access_token }}"
      }
    },
    "tavily-mcp": {
      "command": "npx",
      "args": [
        "-y",
        "tavily-mcp@0.1.2"
      ],
      "env": {
        "TAVILY_API_KEY": "{{ tavily_api_key }}"
      }
    },
    "todoist-mcp": {
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote",
        "https://ai.todoist.net/mcp/",
        "--header",
        "Authorization: Bearer ${TODOIST_API_KEY}"
      ],
      "env": {
        "TODOIST_API_KEY": "{{ todoist_api_token }}"
      }
    },
    "desktop-commander": {
      "command": "npx",
      "args": [
        "@wonderwhy-er/desktop-commander@latest"
      ]
    }
  }
}
