---
- name: Update apt repo and cache on all Debian/Ubuntu boxes
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    upgrade: full
  register: apt
- name: Debug apt output
  ansible.builtin.debug:
    msg: "{{ apt.stdout_lines | default([]) }}" # Correctly format the debug message and handle potential missing stdout
- name: Check if a reboot is needed on all servers
  ansible.builtin.stat:
    path: /var/run/reboot-required
    get_checksum: false
  register: reboot_required_file

- name: Reboot the server (if required).
  ansible.builtin.reboot:
  when: reboot_required_file.stat.exists == true

- name: Remove useless packages from the cache
  ansible.builtin.apt:
    autoclean: true

- name: Remove dependencies that are no longer required
  ansible.builtin.apt:
    autoremove: true
