---
version: '3.8'
services:
  changedetection:
    image: {{ changedetection_image }}
    pull_policy: always
    container_name: {{ changedetection_service_name }}
    restart: unless-stopped
    environment:
      - TZ={{ system_timezone }}
      - REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
      - CURL_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
    ports:
      - "127.0.0.1:{{ changedetection_http_port }}:5000"
    volumes:
      - "{{ changedetection_config_folder }}:/datastore"
      - /etc/ssl/certs:/etc/ssl/certs:ro
      - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates:ro
    labels:
{% for label_key, label_value in (services['changedetection'] | autokuma_labels('changedetection', 'changedetection')).items() %}
      - {{ (label_key ~ "=" ~ label_value) | to_json }}
{% endfor %}
      - homepage.group={{ services['changedetection'].group }}
      - homepage.name={{ services['changedetection'].name }}
      - homepage.href=http://{{ services['changedetection'].domain }}
      - homepage.icon={{ services['changedetection'].icon }}
      - homepage.server={{ inventory_hostname }}
      - homepage.container={{ changedetection_service_name }}
