---
- name: Create jellyfin folders
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ username }}"
  with_items:
    - "{{ jellyfin_config_folder }}"
    - "{{ jellyfin_movie_folder }}"
    - "{{ jellyfin_shows_folder }}"
    - "{{ jellyfin_music_folder }}"
    - "{{ navidrome_data_folder }}"

- name: Reposess jellyfin folders
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ username }}"
    group: users
    mode: u=rwx,g=rwxs
    recurse: true
  with_items:
    - "{{ jellyfin_config_folder }}"
    - "{{ jellyfin_movie_folder }}"
    - "{{ jellyfin_shows_folder }}"
    - "{{ jellyfin_music_folder }}"
    - "{{ navidrome_data_folder }}"

- name: Start media services
  community.docker.docker_compose_v2:
    project_name: jellyfin
    pull: always # Set to "always", "missing", "never", or "policy" based on your needs
    state: present # Ensure the services are started
    definition:
      services:
        jellyfin:
          image: jellyfin/jellyfin
          container_name: jellyfin
          user: "{{ uid }}:{{ uid }}"
          network_mode: host
          pull_policy: always
          volumes:
            - "{{ jellyfin_config_folder }}:/config"
            - jellyfin-cache:/cache
            - "{{ jellyfin_movie_folder }}:/movies"
            - "{{ jellyfin_shows_folder }}:/shows"
            - "{{ jellyfin_music_folder }}:/music"
            - /etc/ssl/certs:/etc/ssl/certs:ro
            - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates:ro
          restart: unless-stopped
          # Optional - alternative address used for autodiscovery
          environment:
            JELLYFIN_PublishedServerUrl: http://192.168.50.5:8096
            SSL_CA_FILE: /etc/ssl/certs/ca-certificates.crt
          # Optional - may be necessary for docker healthcheck to pass if running in host network mode
          extra_hosts:
            host.docker.internal: host-gateway
          labels:
            homepage.group: "{{ services.jellyfin.group }}"
            homepage.name: jellyfin
            homepage.href: http://{{ services['jellyfin'].domain }}
            homepage.icon: jellyfin.png
            homepage.server: "{{ inventory_hostname }}"
            homepage.container: jellyfin
            homepage.widget.type: jellyfin
            homepage.widget.url: http://192.168.50.5:8096
            homepage.widget.key: "{{ jellyfin_api_key }}"

        navidrome:
          image: deluan/navidrome:latest
          container_name: navidrome
          user: "{{ uid }}:{{ uid }}" # should be owner of volumes
          ports:
            - "{{ navidrome_http_port }}:4533"
          restart: unless-stopped
          volumes:
            - "{{ navidrome_data_folder }}:/data"
            - "{{ jellyfin_music_folder }}:/music:ro"
          labels:
            homepage.group: "{{ services.music.group }}"
            homepage.name: Navidrome
            homepage.href: https://music.lan
            homepage.icon: navidrome.png
            homepage.server: "{{ inventory_hostname }}"
            homepage.container: navidrome
            homepage.widget.type: navidrome
            homepage.widget.url: https://music.lan
            homepage.widget.user: daniel
            homepage.widget.token: "{{ navidrome_token }}"
            homepage.widget.salt: "{{ navidrome_salt }}"

      volumes:
        jellyfin-cache: {} # Define the volume
