---
- name: Add user
  ansible.builtin.user:
    name: "{{ username_personal }}"
    comment: John Doe
    uid: "{{ uid_personal }}"
    groups: users
    append: true
- name: Utility present
  ansible.builtin.package:
    name: cifs-utils
    state: present
- name: Create config folders
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: users
    mode: "0775"
  with_items:
    - "{{ syncthing_config_folder }}"
    - "{{ syncthing_data_folder }}"

- name: Build Samba volume list
  ansible.builtin.set_fact:
    samba_volumes: "{{ samba_volumes | default([]) + ['/etc/avahi/services/:/external/avahi'] }}"
  loop: "{{ [0] }}"  # Run once to initialize

- name: Add dataset shares to Samba volumes
  ansible.builtin.set_fact:
    samba_volumes: "{{ samba_volumes + ['/tank/' + item + ':/shares/' + item | capitalize] }}"
  loop: "{{ dataset_shares }}"

- name: Add Time Machine shares to Samba volumes
  ansible.builtin.set_fact:
    samba_volumes: "{{ samba_volumes + ['/tank/' + item + ':/shares/' + item | capitalize] }}"
  loop: "{{ timemachine_shares }}"

- name: Add config to Samba volumes
  ansible.builtin.set_fact:
    samba_volumes: "{{ samba_volumes + [config_root + ':/shares/config'] }}"

- name: Build Syncthing volume list
  ansible.builtin.set_fact:
    syncthing_volumes: "{{ syncthing_volumes | default([]) + [syncthing_config_folder + ':/config', syncthing_data_folder + ':/data'] }}"
  loop: "{{ [0] }}"  # Run once to initialize

- name: Add Syncthing datasets to volumes
  ansible.builtin.set_fact:
    syncthing_volumes: "{{ syncthing_volumes + ['/tank/' + item + ':/' + item | capitalize] }}"
  loop: "{{ syncthing_datasets }}"

- name: Build Samba environment variables
  ansible.builtin.set_fact:
    samba_env:
      MODEL: TimeCapsule
      AVAHI_NAME: nuc
      SAMBA_CONF_LOG_LEVEL: 3
      WSDD2_DISABLE: 1
      ACCOUNT_nuc: nucpass
      ACCOUNT_daniel: "daniel:1000:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:361FA5DCDEC7F04CC65A84100D147EA0:[U          ]:LCT-643D057C:"
      UID_daniel: "{{ uid_personal }}"
      SAMBA_GLOBAL_STANZA: "guest account = {{ username }}"

- name: Add dataset shares to Samba environment
  ansible.builtin.set_fact:
    samba_env: "{{ samba_env | combine({('SAMBA_VOLUME_CONFIG_' + item | capitalize): '[{{ item | capitalize }}]; path=/shares/' + item | capitalize + '; valid users = daniel, nuc; browseable = yes; guest ok = yes; read only = no; force group = users; create mask = 0775; directory mask = 0755'}) }}"
  loop: "{{ dataset_shares }}"

- name: Add Time Machine shares to Samba environment
  ansible.builtin.set_fact:
    samba_env: "{{ samba_env | combine({('SAMBA_VOLUME_CONFIG_' + item | capitalize): '[TimeMachine]; path=/shares/' + item | capitalize + '/%U; valid users = daniel; guest ok = no; read only = no; browseable = yes; fruit:time machine = yes; fruit:time machine max size = 1000G'}) }}"
  loop: "{{ timemachine_shares }}"

- name: Add config to Samba environment
  ansible.builtin.set_fact:
    samba_env: "{{ samba_env | combine({'SAMBA_VOLUME_CONFIG_Config': '[Config]; path=/shares/Config; valid users = daniel; guest ok = no; read only = no; browseable = yes; create mask = 0775; directory mask = 0755; force user = ' + username + '; force group = users;'}) }}"

- name: Start Storage
  community.docker.docker_compose_v2:
    project_name: storage
    pull: always
    state: present
    definition:
      services:
        samba:
          container_name: samba
          build: .
          image: ghcr.io/servercontainers/samba
          restart: unless-stopped
          network_mode: host
          environment: "{{ samba_env }}"
          volumes: "{{ samba_volumes }}"

        syncthing:
          image: lscr.io/linuxserver/syncthing:latest
          container_name: syncthing
          environment:
            PUID: "{{ uid }}"
            PGID: "{{ uid }}"
            TZ: Europe/Berlin
          volumes: "{{ syncthing_volumes }}"
          ports:
            - "{{ syncthing_http_port }}:8384"
            - 22000:22000/tcp
            - 22000:22000/udp
            - 21027:21027/udp
          restart: unless-stopped
          labels:
            - wud.tag.include=^\d+\.\d+\.\d+$$
            - homepage.group={{ services['syncthing-homelab'].group }}
            - homepage.name={{ services['syncthing-homelab'].name }}
            - homepage.href=https://syncthing-homelab.lan
            - homepage.icon=syncthing.png
            - homepage.server={{ inventory_hostname }}
            - homepage.container=syncthing

- name: Avahi present
  ansible.builtin.package:
    name: avahi-daemon
    state: present
