{
  "inference_server": {
    "base_url": "http://{{ mcp_bridge_target_host }}:{{ mcp_bridge_target_port }}/v1",
    "api_key": "litellm"
  },
  "mcp_servers": {
    "fetch": {
      "command": "uvx",
      "args": [
        "mcp-server-fetch"
      ]
    },
    "Home Assistant": {
      "command": "uvx",
      "args": [
        "mcp-proxy"
      ],
      "env": {
        "SSE_URL": "http://192.168.50.5:8123/mcp_server/sse",
        "API_ACCESS_TOKEN": "{{ ha_access_token }}"
      }
    },
    "tavily-mcp": {
      "command": "npx",
      "args": [
        "-y",
        "tavily-mcp@0.1.2"
      ],
      "env": {
        "TAVILY_API_KEY": "{{ tavily_api_key }}"
      }
    },
    "todoist-mcp": {
      "command": "npx",
      "args": [
        "-y",
        "Doist/todoist-mcp.git"
      ],
      "env": {
        "TODOIST_API_KEY": "{{ todoist_api_token }}"
      }
    },
    "desktop-commander": {
      "command": "npx",
      "args": [
        "@wonderwhy-er/desktop-commander@latest"
      ]
    }
  },
  "network": {
    "host": "0.0.0.0"
  },
  "logging": {
    "log_level": "INFO"
  }
}
