---
- name: Create TeslaMate data folders
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: users
    mode: u=rwx,g=rwxs
    recurse: true
  with_items:
    - "{{ teslamate_data_folder }}"
    - "{{ teslamate_grafana_data_folder }}"

- name: Create TeslaMate network
  community.docker.docker_network:
    name: teslamate
    state: present

- name: Start TeslaMate stack
  community.docker.docker_compose_v2:
    project_name: teslamate
    pull: always
    state: present
    definition:
      version: "3.8"
      services:
        teslamate-db:
          image: postgres:{{ postgres_version }}
          container_name: teslamate-db
          restart: unless-stopped
          environment:
            POSTGRES_USER: "{{ teslamate_db_user }}"
            POSTGRES_PASSWORD: "{{ teslamate_database_password }}"
            POSTGRES_DB: "{{ teslamate_db_name }}"
          volumes:
            - teslamate-db-data:/var/lib/postgresql/data
          networks:
            - teslamate
          healthcheck:
            test: ["CMD-SHELL", "pg_isready -U {{ teslamate_db_user }}"]
            interval: 5m
            timeout: 5s
            retries: 5

        grafana:
          image: teslamate/grafana:latest
          container_name: teslamate-grafana
          restart: unless-stopped
          environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD={{ teslamate_database_password }}
          volumes:
            - "{{ teslamate_grafana_data_folder }}:/var/lib/grafana"
          ports:
            - "{{ grafana_http_port }}:3000"
          networks:
            - teslamate
          depends_on:
            teslamate-db:
              condition: service_healthy

        teslamate:
          image: teslamate/teslamate:{{ teslamate_version }}
          container_name: teslamate
          restart: unless-stopped
          environment:
            - DB_USER={{ teslamate_db_user }}
            - DB_PASSWORD={{ teslamate_database_password }}
            - DB_NAME={{ teslamate_db_name }}
            - DB_HOST=teslamate-db
            - DB_PORT=5432
            - MQTT_HOST={{ mqtt_host }}
            - MQTT_PORT={{ mqtt_port }}
            - ENCRYPTION_KEY={{ teslamate_encryption_key }}
          volumes:
            - "{{ teslamate_data_folder }}:/opt/teslamate/data"
          ports:
            - "{{ teslamate_http_port }}:4000"
          networks:
            - teslamate
          depends_on:
            teslamate-db:
              condition: service_healthy
          labels:
            - wud.tag.include=^\d+\.\d+\.\d+$$
            - wud.link.template=https://github.com/adriankumpf/teslamate/releases/tag/$${major}.$${minor}.$${patch}
            - homepage.group={{ services.teslamate.group }}
            - homepage.name={{ services.teslamate.name }}
            - homepage.href=http://{{ inventory_hostname }}:{{ teslamate_http_port }}
            - homepage.icon=teslamate.png
            - homepage.server={{ inventory_hostname }}
            - homepage.container=teslamate

      volumes:
        teslamate-db-data:
          driver: local

      networks:
        teslamate:
          driver: bridge