---
- name: Create TeslaMate app data folder
  ansible.builtin.file:
    path: "{{ teslamate_data_folder }}"
    state: directory
    owner: "{{ username }}"
    group: users
    mode: u=rwx,g=rwxs

- name: Create Grafana data folder with Grafana ownership
  ansible.builtin.file:
    path: "{{ teslamate_grafana_data_folder }}"
    state: directory
    owner: 472
    group: 472
    mode: "0770"

- name: Create TeslaMate network
  community.docker.docker_network:
    name: teslamate
    state: present

- name: Start TeslaMate stack
  community.docker.docker_compose_v2:
    project_name: teslamate
    pull: always
    state: present
    definition:
      version: "3.8"
      services:
        teslamate-db:
          image: postgres:{{ postgres_version }}
          container_name: teslamate-db
          restart: unless-stopped
          environment:
            POSTGRES_USER: "{{ teslamate_db_user }}"
            POSTGRES_PASSWORD: "{{ teslamate_database_password }}"
            POSTGRES_DB: "{{ teslamate_db_name }}"
          volumes:
            - teslamate-db-data:/var/lib/postgresql
          networks:
            - teslamate
          healthcheck:
            test: ["CMD-SHELL", "pg_isready -U {{ teslamate_db_user }}"]
            interval: 5m
            timeout: 5s
            retries: 5

        grafana:
          image: teslamate/grafana:latest
          container_name: teslamate-grafana
          restart: unless-stopped
          environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD={{ teslamate_database_password }}
            - DATABASE_USER={{ teslamate_db_user }}
            - DATABASE_PASS={{ teslamate_database_password }}
            - DATABASE_NAME={{ teslamate_db_name }}
            - DATABASE_HOST=teslamate-db
          volumes:
            - "{{ teslamate_grafana_data_folder }}:/var/lib/grafana"
          ports:
            - "{{ ports.homelab_nuc.teslamate_grafana }}:3000"
          networks:
            - teslamate
          depends_on:
            teslamate-db:
              condition: service_healthy

        teslamate:
          image: teslamate/teslamate:{{ teslamate_version }}
          container_name: teslamate
          restart: unless-stopped
          environment:
            - DATABASE_USER={{ teslamate_db_user }}
            - DATABASE_PASS={{ teslamate_database_password }}
            - DATABASE_NAME={{ teslamate_db_name }}
            - DATABASE_HOST=teslamate-db
            - MQTT_HOST={{ mosquitto_address }}
            - MQTT_PORT={{ ports.homelab_nuc.mosquitto }}
            - ENCRYPTION_KEY={{ teslamate_encryption_key }}
          volumes:
            - "{{ teslamate_data_folder }}:/opt/teslamate/data"
          ports:
            - "{{ ports.homelab_nuc.teslamate }}:4000"
          networks:
            - teslamate
          depends_on:
            teslamate-db:
              condition: service_healthy
          labels:
            - wud.tag.include=^\d+\.\d+\.\d+$$
            - wud.link.template=https://github.com/adriankumpf/teslamate/releases/tag/$${major}.$${minor}.$${patch}
            - homepage.group={{ services.teslamate.group }}
            - homepage.name={{ services.teslamate.name }}
            - homepage.href=http://{{ inventory_hostname }}:{{ ports.homelab_nuc.teslamate }}
            - homepage.icon=teslamate.png
            - homepage.server={{ inventory_hostname }}
            - homepage.container=teslamate

      volumes:
        teslamate-db-data:
          driver: local

      networks:
        teslamate:
          driver: bridge
