version: 5

homeassistant:
  enabled: true

availability:
  enabled: true

# allow new devices to join
permit_join: false

mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://{{ mosquitto_address }}:{{ mosquitto_port }}'

serial:
  port: tcp://{{ zigbee_dongle_ip }}:6638
  baudrate: 115200
  adapter: ember
  rtscts: false

frontend:
  enabled: true
  port: {{ z2m_http_port }}

advanced:
  log_level: warning
  last_seen: ISO_8601

devices: devices.yml
groups: groups.yml
