services:
  phoenix:
    image: arizephoenix/phoenix:latest
    container_name: phoenix
    ports:
      - "{{ ports.homelab_nuc.phoenix_ui }}:6006"
      - "{{ ports.homelab_nuc.phoenix_grpc }}:4317"
      - "{{ ports.homelab_nuc.phoenix_prometheus }}:{{ ports.homelab_nuc.phoenix_internal }}"
    environment:
      - PHOENIX_WORKING_DIR={{ phoenix_working_dir }}
      - TZ={{ system_timezone }}
    volumes:
      - "{{ phoenix_data_folder }}:{{ phoenix_working_dir }}"
    restart: unless-stopped
