services:
  phoenix:
    image: arizephoenix/phoenix:latest
    container_name: phoenix
    ports:
      - "{{ phoenix_port }}:6006"
      - "{{ phoenix_grpc_port }}:4317"
      - "9091:9090"
    environment:
      - PHOENIX_WORKING_DIR={{ phoenix_working_dir }}
      - TZ={{ system_timezone }}
    volumes:
      - "{{ phoenix_data_folder }}:{{ phoenix_working_dir }}"
    labels:
      homepage.group: "{{ services.phoenix.group }}"
      homepage.name: "{{ services.phoenix.name }}"
      homepage.href: "https://{{ services.phoenix.domain }}"
      homepage.icon: "{{ services.phoenix.icon }}"
      homepage.server: "{{ inventory_hostname }}"
      homepage.container: "phoenix"
    restart: unless-stopped
