default_settings = '''
*.notification_name_list: ["hermes-projects"]
*.notification_id_list: {% raw %}{% if container_name is defined and container_name == 'hermes-assist' %}{}{% else %}{"1": true, "3": true}{% endif %}{% endraw %}
'''

[kuma]
auth_token = "{{ uptime_kuma_auth_token | trim }}"
