{
  "servers": [
  {% for service in mcp_services %}
    {
      "name": "{{ service.name }}",
      "transport": {
        "type": "sse",
        "url": "http://192.168.50.5:{{ service.sse_port }}/sse"
      }
    }{% if not loop.last %},{% endif %}
  {% endfor %}
  ]
}
