services:
{% for service in mcp_services %}
  mcp-{{ service.name }}:
    image: mcp-proxy:latest
    container_name: mcp-{{ service.name }}
    restart: unless-stopped
    command: sh -c '{{ proxy_command_prefix }}{{ service.sse_port }}{{ proxy_command_middle }}{{ service.command }}{{ proxy_command_postfix }}'
    environment: {{ service.environment | default({}) | to_json }}
    ports: {{ service.ports | to_json }}
{% endfor %}
  mcp-proxy-server:
    image: mcp-proxy:latest
    container_name: mcp-proxy-server
    restart: unless-stopped
    command: npx -y --package https://github.com/kirel/mcp-proxy-server.git -c 'mcp-proxy-sse-server'
    working_dir: /config
    environment:
      MCP_CONFIG_PATH: /config/config.json
      PORT: "{{mcp_proxy_server_port}}"
    ports:
      - "{{mcp_proxy_server_port}}:{{mcp_proxy_server_port}}"
    volumes:
      - ./config.json:/config/config.json
