source_directories:
{% for dir in backup_source_directories %}
    - {{ dir }}
{% endfor %}

repositories:
    - path: {{ backup_local_repo }}
      label: local

exclude_patterns:
{% for pattern in backup_exclude_patterns %}
    - '{{ pattern }}'
{% endfor %}

encryption_passphrase: '{{ vault_borg_passphrase }}'
compression: {{ backup_compression }}
archive_name_format: {{ backup_archive_name_format }}

{% for key, value in backup_retention.items() %}
{{ key }}: {{ value }}
{% endfor %}

checks:
    - name: repository
    - name: archives
check_last: 1

{% if uptime_kuma_push_url is defined and uptime_kuma_push_url %}
uptime_kuma:
    push_url: {{ uptime_kuma_push_url }}
    states:
        - start
        - finish
        - fail
    verify_tls: false
{% endif %}